<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gengyixiong.me.screenshader" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="gengyixiong.me.screenshader.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Transparency" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="gengyixiong.me.screenshader.MainService" />
        <!--
        <activity
            android:name="gengyixiong.me.screenshader.MainActivity2"
            android:label="@string/app_name"
            android:theme="@style/Transparency">
        </activity>
        -->

    </application>

</manifest>
